.Book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .create-book-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .sort-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .sort-label {
    margin-right: 10px;
  }
  
  .sort-select {
    background-color: lightgray;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .search-section {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    background-color: lightgray;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
  }
  
  .search-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .reset-search-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
  }
  
  .no-results {
    text-align: center;
    margin-top: 20px;
  }
  
  .book-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-card {
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 0 10px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .book-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .book-title {
    font-size: 20px;
  }
  
  .book-author {
    font-size: 16px;
    color: gray;
  }
  
  .book-price {
    font-size: 16px;
    color: gray;
  }
  
  .book-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .details-btn {
    background-color: blue;
    color: white;
}
